/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
body{
    font-family: 'Open Sans', sans-serif;
}
i{
    color: white;
}

i:hover{
    cursor: pointer;
}

.flex-container{
    display: flex;
}

footer i{
    font-size: 18px;
}
.fa-chevron-up{
    font-size: 8px;
}

/* REGOLE HEADER */
header{
    background-color: black;
    width: 100%;
    height: 10vh;
    color: white;
}

header section.header-section{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 10px;
}

.header-container{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 1px;
}

.header-container > span{
    display: inline-block;
    background-color: rgb(65, 65, 65);
    padding: 3px;
    border-radius: 5px;
    margin: 5px 3px;
}

#schermo-intero{
    transform: rotate(45deg);
}

/* REGOLE MAIN */
main{
    width: 100%;
    height: 80vh;
    background-color: black;
    overflow-y: scroll;
}
.container{
    width: 80%;
    margin: 0 auto;
}
main section.flex-container{
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-user{
    height: 100px;
    width: calc((100% / 7) - 4px);
    margin-bottom: 5px;
    position: relative;
    background-image: url("https://picsum.photos/200/300?grayscale");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

/* .card-user img{
    height: 100%;
} */

.username{
    position: absolute;
    bottom: 0;
    left: 0%;
    background-color: rgba(67, 67, 67, 0.6);
    color: white;
    font-size: 10px;
    padding: 4px;
}

/* REGOLE FOOTER */

footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(29, 29, 29);
    font-size: 10px;
}
.footer-section{
    width: 100%;
    height: 100%;
}
footer section.flex-container{
    justify-content: space-between;
    align-items: center;
}

.footer-container.flex-container{
    align-items: center;
}

.icon{
    margin: 0 5px;
    color: white;
    display: inline-block;
    text-align: center;
}
.icon > *{
    padding: 6px 3px;
}

#green-icon{
    color: green;
}

#end-meeting{
    color: red;
    background-color: rgb(65, 65, 65);
    line-height: 10vh;
    padding: 0 12px;
}